In [8]:
import os
import numpy as np
import math
from collections import defaultdict
import torch
import esm
from esm import Alphabet, FastaBatchedDataset, ProteinBertModel, pretrained, MSATransformer
import pathlib
import pandas as pd
from scipy.stats import pearsonr

In [9]:
def read_processed_sequences(a3m_file):
    """读取a3m文件并处理小写字母，返回与query等长的序列列表"""
    sequences = []
    with open(a3m_file, 'r') as f:
        current_seq = []
        for line in f:
            if line.startswith('>'):
                if current_seq:
                    # 合并多行序列并处理小写字母
                    full_seq = ''.join(current_seq)
                    processed = ''.join([c for c in full_seq if not c.islower()])
                    sequences.append(processed)
                    current_seq = []
            else:
                current_seq.append(line.strip())
        # 处理最后一个序列
        if current_seq:
            full_seq = ''.join(current_seq)
            processed = ''.join([c for c in full_seq if not c.islower()])
            sequences.append(processed)
    
    if not sequences:
        raise ValueError("未读取到有效序列")
    
    # 获取query长度并过滤异常序列
    query_len = len(sequences[0])
    # 使用列表推导式过滤（保留第一个query序列）
    filtered_sequences = [sequences[0]] + [seq for seq in sequences[1:] 
                                         if len(seq) == query_len]
    
    # 输出过滤统计信息
    original_count = len(sequences)
    filtered_count = len(filtered_sequences)
    if filtered_count < original_count:
        print(f"[提示] 已过滤 {original_count - filtered_count} 条长度不一致的序列，"
              f"保留 {filtered_count} 条有效序列")
    
    return filtered_sequences

def calculate_msa_entropy(sequences):
    """计算每个位点的熵值"""
    # 定义标准氨基酸集合
    amino_acids = {'A','R','N','D','C','Q','E','G','H','I',
                   'L','K','M','F','P','S','T','W','Y','V'}
    
    seq_len = len(sequences[0])
    entropy_scores = np.zeros(seq_len)
    
    for pos in range(seq_len):
        counts = defaultdict(int)
        valid_count = 0
        
        # 统计该位点氨基酸出现次数
        for seq in sequences:
            aa = seq[pos]
            if aa in amino_acids:
                counts[aa] += 1
                valid_count += 1
        
        # 计算熵值
        entropy = 0.0
        if valid_count > 0:
            for cnt in counts.values():
                p = cnt / valid_count
                entropy -= p * math.log2(p) if p > 0 else 0
        
        entropy_scores[pos] = entropy
    
    return entropy_scores

## 对比ris和msa

In [10]:
device = 'cuda:3'
model_location='/home2/kangboming/kangboming/workspace/PIC_revise/model/ESM/esm2_t33_650M_UR50D.pt'

### 加载ESM模型
model, alphabet = esm.pretrained.load_model_and_alphabet(model_location)
batch_converter = alphabet.get_batch_converter()

### 获得概率值：GPU版
def get_logits(seq, model,alphabet,batch_converter,device,format=None):
    AAorder=['R','K','H','E','D','N','Q','T','S','C','G','A','V','L','I','M','P','Y','F','W']
    data = [("_", seq), ("_", seq), ("_", seq), ("_", seq)]
    batch_labels, batch_strs, batch_tokens = batch_converter(data)
    batch_tokens = batch_tokens.to(device)  # Move batch_tokens to GPU
    model = model.to(device)  # Move model to GPU
    with torch.no_grad():
        logits = torch.softmax(model(batch_tokens, repr_layers=[33], return_contacts=False)["logits"], dim=-1).cpu().numpy()
        # return logits
    if format == 'pandas':
        WTlogits = pd.DataFrame(logits[0][1:-1, :], columns=alphabet.all_toks, index=list(seq)).T.iloc[4:24].loc[AAorder]
        WTlogits.columns = [j.split('.')[0] + '_' + str(i + 1) for i, j in enumerate(WTlogits.columns)]
        return WTlogits
    if format == 'array':
        WTlogits = pd.DataFrame(logits[0][1:-1, :], columns=alphabet.all_toks, index=list(seq)).T.iloc[4:24].loc[AAorder]
        WTlogits_array = WTlogits.values
        return WTlogits_array
    else:
        return logits[0][1:-1, :]

def get_logits_batch(seq_lst, model,alphabet,batch_converter,device,format=None):
    AAorder=['R','K','H','E','D','N','Q','T','S','C','G','A','V','L','I','M','P','Y','F','W']
    data = [("_", seq),]
    print(data)
    batch_labels, batch_strs, batch_tokens = batch_converter(data)
    batch_tokens = batch_tokens.to(device)  # Move batch_tokens to GPU
    model = model.to(device)  # Move model to GPU
    with torch.no_grad():
        logits = torch.softmax(model(batch_tokens, repr_layers=[33], return_contacts=False)["logits"], dim=-1).cpu().numpy()
    if format == 'pandas':
        WTlogits = pd.DataFrame(logits[0][1:-1, :], columns=alphabet.all_toks, index=list(seq)).T.iloc[4:24].loc[AAorder]
        WTlogits.columns = [j.split('.')[0] + '_' + str(i + 1) for i, j in enumerate(WTlogits.columns)]
        return WTlogits
    if format == 'array':
        WTlogits = pd.DataFrame(logits[0][1:-1, :], columns=alphabet.all_toks, index=list(seq)).T.iloc[4:24].loc[AAorder]
        WTlogits_array = WTlogits.values
        return WTlogits_array
    else:
        return logits[0][1:-1, :]

def calculate_esm_entropy(prob_matrix):

    # Ensure probabilities are non-zero to avoid log(0)
    prob_matrix = np.clip(prob_matrix, 1e-10, 1.0)
    
    # Calculate entropy for each position
    entropy = -np.sum(prob_matrix * np.log2(prob_matrix), axis=-1)
    return entropy

In [11]:
filePath = '/home/liuyu/codes/ifold/my_works/testset/alignment_test'
ali_lst = os.listdir(filePath)
ali_lst

['5eec_A',
 '6v0v_A',
 '5whq_A',
 '6khh_A',
 '3tg4_A',
 '5lg4_A',
 '6tdu_AG',
 '3vkw_A',
 '3f9p_C',
 '3vop_A',
 '5drn_A',
 '5c1t_A',
 '3oq9_H',
 '4uo4_A',
 '7cww_A',
 '7anm_aa',
 '2enw_A',
 '6bta_A',
 '2aqx_A',
 '4ntd_A',
 '3kt5_A',
 '2j6z_A',
 '6lqk_A',
 '5svb_A',
 '1faz_A',
 '4f6o_A',
 '6cfw_K',
 '3ls2_A',
 '6utl_A',
 '4bl9_A',
 '4bv4_R',
 '6zk9_d',
 '1j9w_A',
 '3kkj_A',
 '2l82_A',
 '1uzm_A',
 '3u5o_I',
 '3ilr_A',
 '3ru9_A',
 '4bxl_C',
 '3myo_A',
 '3opq_A',
 '6blb_A',
 '6ud1_A',
 '2iy0_A',
 '5jr1_H',
 '1plf_A',
 '7jr5_A',
 '4a47_A',
 '1jnv_Y',
 '6nmv_H',
 '1f0z_A',
 '2uy2_A',
 '5zch_A',
 '5ksb_I',
 '1fmh_B',
 '6y9e_A',
 '6zcf_A',
 '4qxg_H',
 '6cnb_Q',
 '1mt1_B',
 '6niq_A',
 '7cdc_C',
 '4r98_A',
 '2dax_A',
 '5n0b_A',
 '2y6s_C',
 '4yeu_A',
 '5ej1_A',
 '2i9n_A',
 '2qrx_A',
 '7amc_A',
 '6nov_A',
 '4raf_A',
 '2fca_A',
 '6dzm_A',
 '5me5_B',
 '3nax_A',
 '7nfx_t',
 '6n4d_A',
 '6e0b_A',
 '3jcu_H',
 '6bac_A',
 '3nxl_A',
 '4gfh_A',
 '4iqz_A',
 '6jlu_19',
 '7e5o_H',
 '3wsy_A',
 '2wpd_J',
 '7rlg_A',
 '5gzr_H',
 '3aue_A',
 '4crw_B',
 '7bid_A',
 '4xb2_A',
 '5v7q_M',
 '6iqd_A',
 '3vt3_A',
 '4lsj_A',
 '6j1x_B',
 '6bb5_A',
 '2fnc_A',
 '3mgh_A',
 '5v2n_A',
 '4o0d_A',
 '1lve_A',
 '2v6e_A',
 '2f0v_A',
 '5xws_A',
 '6yht_A',
 '5tq0_A',
 '5tvn_A',
 '3dlj_A',
 '5wzz_E',
 '5jg9_A',
 '4ijd_A',
 '6sbi_A',
 '3ky9_A',
 '3jxu_A',
 '6nmi_B',
 '2fid_B',
 '6fnz_A',
 '1f2l_A',
 '2qlj_E',
 '7eq4_A',
 '3grp_A',
 '2e6w_A',
 '2v9e_A',
 '3f7o_X',
 '5eyl_A',
 '1lsg_A',
 '2hgn_A',
 '6o4e_A',
 '6mno_A',
 '2ytt_A',
 '1t2o_A',
 '3j6x_56',
 '1ozo_A',
 '3vcm_P',
 '7chc_A',
 '7nrd_LH',
 '1igw_A',
 '1c9o_A',
 '2c8i_E',
 '7elh_e',
 '7d6i_B',
 '6nmc_B',
 '6dg2_A',
 '2ikf_A',
 '6cde_3',
 '1u57_A',
 '3ouh_A',
 '3c7a_A',
 '1bxe_A',
 '5xtb_Q',
 '2agg_A',
 '2o8u_A',
 '6n4e_A',
 '6yfq_AA',
 '5xj3_A',
 '6peb_A',
 '3l9d_A',
 '3m09_A',
 '5yta_A',
 '3ja8_3',
 '1le0_A',
 '1alq_A',
 '2guy_A',
 '2hzp_A',
 '7k7y_A',
 '6gsa_E',
 '1xrk_A',
 '5je3_A',
 '4lfd_E',
 '4bof_A',
 '6az1_Z',
 '4a3s_A',
 '2vsn_A',
 '1p19_A',
 '2nsz_A',
 '1hbm_B',
 '1g3b_A',
 '4mw3_A',
 '2l5u_A',
 '2za7_A',
 '6hpg_a',
 '6jhh_A',
 '2a1j_B',
 '5nw4_A',
 '6aj5_A',
 '7dmq_A',
 '6weo_0',
 '4o5t_A',
 '3lvz_A',
 '4b62_A',
 '6s5r_F',
 '1cgj_I',
 '2r5n_A',
 '7dl1_A',
 '3pkn_B',
 '6iqm_A',
 '1ds6_B',
 '2r1t_A',
 '7rmv_A',
 '6teu_A',
 '2ayy_A',
 '1r8o_B',
 '6hs7_F',
 '1ud3_A',
 '4zne_A',
 '6uke_X',
 '5w1m_A',
 '3koj_A',
 '7jrj_H',
 '5x9k_A',
 '3jqp_A',
 '6n63_A',
 '6gcc_A',
 '5z1q_A',
 '1dd4_C',
 '1lkt_A',
 '5tcu_LA',
 '4qbe_A',
 '2bkk_A',
 '3jpz_A',
 '7lul_B',
 '2o4e_A',
 '1yxe_A',
 '6zzm_A',
 '3kg7_A',
 '6ts3_A',
 '4uqk_A',
 '4hjw_A',
 '6ves_A',
 '6j1s_A',
 '7q6e_A',
 '2isi_A',
 '2fp4_A',
 '6zuc_A',
 '5ptd_A',
 '5wxu_A',
 '5f6k_D',
 '1t36_B',
 '1ngz_B',
 '5wls_A',
 '6jmu_C',
 '6k4z_A',
 '4got_A',
 '5cc8_A',
 '3tqz_A',
 '4p0t_A',
 '5apn_y',
 '1ipd_A',
 '6b72_A',
 '6wrk_A',
 '3nu1_A',
 '5mcz_H',
 '4wr3_A',
 '3wei_A',
 '6n0x_A',
 '4o5r_A',
 '2hcj_B',
 '5ydr_A',
 '6xof_A',
 '2w4t_Y',
 '3due_A',
 '1dj7_A',
 '3woy_A',
 '3u44_A',
 '1pbn_A',
 '6xrp_B',
 '6eyd_E',
 '4c8q_H',
 '6um7_B',
 '1irf_A',
 '1t4u_L',
 '5j5k_A',
 '1bs0_A',
 '2lam_A',
 '1ruz_I',
 '4jef_A',
 '5u5f_D',
 '3ke7_A',
 '5tma_A',
 '1f4a_A',
 '2p3x_A',
 '4afj_X',
 '5oc4_A',
 '2xsm_H',
 '3e9u_A',
 '3ijh_A',
 '1hth_A',
 '6gx7_G',
 '1u6r_A',
 '2ku1_A',
 '6hyo_A',
 '3v68_A',
 '5yzg_X',
 '5gg4_A',
 '7d2w_A',
 '3hul_A',
 '1zhp_A',
 '6w4u_A',
 '2hdm_A',
 '2auk_A',
 '1hx1_B',
 '6p3b_H',
 '2k7m_A',
 '7kqe_H',
 '3qxf_A',
 '3j79_Y',
 '2azw_A',
 '5wcv_A',
 '1lbb_A',
 '2dyn_A',
 '2d03_L',
 '6ml8_A',
 '6fhb_A',
 '6i2g_A',
 '2nsp_A',
 '2h1o_E',
 '1tu3_F',
 '3rqd_C',
 '4f2n_A',
 '7jxc_L',
 '2wh0_Q',
 '6njf_A',
 '1ng8_A',
 '7ad3_E',
 '6qvv_A',
 '1xoc_A',
 '7ar9_k',
 '1a5q_A',
 '3kx9_A',
 '4uwp_B',
 '6kgb_A',
 '7k22_F1',
 '6pxj_B',
 '1gwb_A',
 '1j33_A',
 '1mtc_A',
 '2m8s_B',
 '4y7m_A',
 '4xv9_A',
 '1a6t_B',
 '3ngr_A',
 '4dy1_A',
 '7m53_A',
 '3skv_A',
 '6rqm_B',
 '2bhg_A',
 '7b5v_A',
 '5y49_D',
 '6tis_A',
 '7asn_H',
 '2boy_A',
 '6x6r_A',
 '5ocl_B',
 '4f49_A',
 '1j0f_A',
 '6yp7_A',
 '3bs2_A',
 '4dkk_A',
 '2pzp_A',
 '6gh4_P',
 '3n1u_A',
 '6rpb_D',
 '6fhu_F',
 '6o60_B',
 '5nmz_A',
 '4pix_A',
 '6dey_B',
 '1ft8_A',
 '4rv2_B',
 '2bdu_A',
 '1rjk_A',
 '5mmu_A',
 '7e2v_A',
 '1c9f_A',
 '3kfd_I',
 '6gcm_D',
 '4qbf_A',
 '3bbp_A',
 '1bai_A',
 '6bt3_A',
 '6czs_A',
 '5ty4_B',
 '2e19_A',
 '7jgr_G',
 '4b8c_A',
 '4okv_A',
 '1jyn_A',
 '3a0m_A',
 '4h9n_C',
 '3j6b_X',
 '6cqd_A',
 '6hjx_F',
 '3gva_A',
 '5ldw_P',
 '3s3z_A',
 '1a0m_A',
 '1m57_A',
 '4lhl_A',
 '2kcr_A',
 '5lnj_A',
 '6sge_B',
 '5mjh_A',
 '2a8l_A',
 '2hty_A',
 '3v4p_L',
 '7dxx_A',
 '6nsc_A',
 '7bgg_A',
 '5ojq_A',
 '6fa9_A',
 '5gsa_C',
 '6f38_e',
 '4ab5_A',
 '2nyu_A',
 '2pil_A',
 '6jv6_A',
 '1zsz_A',
 '3qr3_A',
 '2lrd_A',
 '4dfi_A',
 '6b5p_L',
 '1rmz_A',
 '6yab_AAA',
 '2khx_A',
 '5nrl_Q',
 '2h36_X',
 '6o7y_A',
 '6dix_A',
 '5yoz_A',
 '6dc3_L',
 '1l8a_A',
 '5iv5_BB',
 '1mgo_A',
 '2kz7_C',
 '5j07_A',
 '6i41_B',
 '6d2t_C',
 '3cxu_A',
 '1zx4_A',
 '2ew2_A',
 '4pdx_A',
 '1yy6_B',
 '1aoi_B',
 '2jgd_A',
 '6nlp_A',
 '3isu_A',
 '3mg3_A',
 '6gb4_A',
 '4wxm_A',
 '7d0c_F',
 '3egq_A',
 '5ipz_A',
 '3e8o_A',
 '6syv_A',
 '4ods_L',
 '4zpa_A',
 '2qkd_A',
 '7k2n_P',
 '2ll1_A',
 '6gy6_B',
 '3nrf_A',
 '2qjp_A',
 '6p7y_B',
 '6zu5_SY0',
 '4cw9_A',
 '7jpd_a',
 '4ydk_L',
 '3nji_A',
 '6mzc_O',
 '1d9a_A',
 '3thm_L',
 '2jtg_A',
 '1cau_B',
 '4zgw_A',
 '5fxg_B',
 '2lqy_A',
 '6mto_T',
 '7kh2_A',
 '2pk7_A',
 '4fnf_A',
 '4gaz_A',
 '2dli_A',
 '5crv_A',
 '3eh7_A',
 '4my0_A',
 '2lmf_A',
 '6s0u_A',
 '1jb0_E',
 '5aqd_M',
 '1gd5_A',
 '4wyu_C',
 '5j7t_A',
 '3u2l_A',
 '4v7h_BE',
 '7k7p_B',
 '4mlj_A',
 '3soq_Z',
 '2xqn_T',
 '5hmq_A',
 '3mne_B',
 '1ny6_A',
 '5gad_I',
 '4ko5_A',
 '5ul7_A',
 '1u6h_B',
 '5hy7_C',
 '5ulo_C',
 '4tls_A',
 '3pnk_A',
 '5ao1_A',
 '2kc8_B',
 '3tjr_A',
 '5bn6_A',
 '4l9o_A',
 '1gg4_A',
 '3hi5_H',
 '6zyw_O',
 '1l34_A',
 '3jcs_m',
 '3dks_A',
 '2i0c_A',
 '4d2r_A',
 '5ix9_A',
 '4uy8_7',
 '7de4_A',
 '2gmr_L',
 '1ae7_A',
 '2v89_D',
 '2w44_A',
 '3n1h_A',
 '5txs_A',
 '5b2a_O',
 '1k25_A',
 '6oc7_H',
 '1le8_A',
 '1wj4_A',
 '1e1z_P',
 '3ksf_A',
 '3g91_A',
 '3u99_A',
 '1dtp_A',
 '6r7i_R',
 '5emb_B',
 '3r8b_B',
 '1by2_A',
 '7ltt_A',
 '2p1m_B',
 '1ld4_M',
 '2e1d_A',
 '3h2i_A',
 '1vrw_A',
 '6xf3_A',
 '5zjd_A',
 '3fm8_C',
 '4jkq_A',
 '1cf5_A',
 '5v5q_A',
 '3sjn_A',
 '1ypy_A',
 '6gz3_Be',
 '4ize_A',
 '6c4d_A',
 '4n05_A',
 '4pja_F',
 '2oan_A',
 '6f9i_C',
 '4c6u_A',
 '4h6z_A',
 '1ej6_D',
 '1ouz_B',
 '6hl6_S',
 '2f2g_A',
 '6n70_A',
 '4kml_A',
 '1w74_A',
 '7luc_K',
 '3l82_B',
 '4hwt_A',
 '1tpx_A',
 '7mxl_J',
 '6zis_A',
 '1lb7_A',
 '1sye_A',
 '6kml_A',
 '7btc_A',
 '2w57_A',
 '6nm6_D',
 '6a1k_A',
 '4y6c_A',
 '4z2y_A',
 '2ys2_A',
 '6mzw_A',
 '4o7o_A',
 '4eg1_A',
 '6uye_D',
 '6ot6_A',
 '5fj8_I',
 '4p2v_A',
 '7kzp_P',
 '6gcs_X',
 '3e2c_A',
 '2rnn_A',
 '7cgg_A',
 '4nu2_A',
 '156l_A',
 '2j1p_A',
 '5h3m_A',
 '3oqs_A',
 '1gzm_A',
 '7blq_A',
 '4isv_A',
 '2a98_A',
 '4zdh_A',
 '2efl_A',
 '6x01_A',
 '7fhk_A',
 '2i9w_A',
 '6tzk_A',
 '7aor_aq',
 '6iie_A',
 '1cj9_A',
 '6kry_A',
 '3iir_A',
 '1o8o_A',
 '4zre_A',
 '5kcn_A',
 '1kyh_A',
 '1nd3_D',
 '3lbo_A',
 '5n10_A',
 '6jj7_A',
 '1e1p_A',
 '7jxt_A',
 '1dcl_A',
 '1ujx_A',
 '6pts_D',
 '3kwr_A',
 '2oud_A',
 '5zeo_A',
 '5ylx_C',
 '1g55_A',
 '3ejb_A',
 '1vi7_A',
 '5haq_A',
 '1pja_A',
 '3qbn_A',
 '6n4n_A',
 '2ory_A',
 '1b47_A',
 '2uyb_A',
 '7eyd_A1',
 '3loj_A',
 '6jq9_A',
 '6vsj_A',
 '3vq9_A',
 '1tn0_A',
 '7b0n_L',
 '3biy_A',
 '4xcr_A',
 '4gee_A',
 '4yms_C',
 '4r1k_A',
 '6lze_A',
 '4akp_A',
 '2jac_A',
 '5fbh_A',
 '3kk7_A',
 '4peq_B',
 '1im8_A',
 '7lxf_A',
 '3et9_F',
 '4jsg_A',
 '1u5e_A',
 '2i04_C',
 '6jo5_3',
 '6hxv_A',
 '3rpg_B',
 '4x1e_A',
 '5fdu_1y',
 '6f5b_A',
 '2bzl_A',
 '6ryk_A',
 '6fyu_C',
 '4kr0_A',
 '7a6z_A',
 '3j9g_2',
 '7s0l_A',
 '3o3w_A',
 '5zu5_A',
 '1i3q_L',
 '4mu1_A',
 '3fay_A',
 '5wv8_A',
 '2z26_A',
 '4ci8_A',
 '6xa1_SI',
 '2mow_B',
 '7b9v_X',
 '2eqh_A',
 '3hkl_A',
 '1pxt_A',
 '1w5g_A',
 '2bnq_C',
 '5e6j_A',
 '3hst_B',
 '3jxp_A',
 '1bn8_A',
 '4fxe_A',
 '1cdw_A',
 '6o1i_A',
 '7d6f_B',
 '5lx9_H',
 '2v7d_P',
 '4q4j_A',
 '1jxs_A',
 '6hwh_Y',
 '3iyb_3',
 '1nfd_E',
 '7rx5_A',
 '2xol_A',
 '1ito_A',
 '1bzj_A',
 '2dj1_A',
 '1i41_A',
 '3bjk_A',
 '1qcx_A',
 '6jb6_A',
 '6vfl_B',
 '6qvp_A',
 '2fft_A',
 '5n9y_A',
 '3cre_A',
 '1ata_A',
 '6do0_A',
 '3vyo_A',
 '2ioj_A',
 '3c5l_B',
 '6jp4_A',
 '6at8_A',
 '1u17_A',
 '6ttr_A',
 '4qko_A',
 '2j28_W',
 '6ymn_AAA',
 '5a5g_A',
 '4ge8_A',
 '1lvo_A',
 '4eiy_A',
 '7oyx_A',
 '1k5o_A',
 '1o73_A',
 '6z2g_A',
 '2gl7_A',
 '2ll7_B',
 '6q5e_A',
 '6mpr_A',
 '2fmk_B',
 '2v7i_A',
 '6vu0_A',
 '7mwy_A',
 '3ve0_I',
 '4oy9_A',
 '6fs0_H',
 '7arh_V',
 '5jtp_E',
 '4p2o_C',
 '7dxk_A',
 '3jb9_a',
 '7amk_A',
 '4qgb_A',
 '1urp_A',
 '2jdu_A',
 '1dfc_A',
 '1bnl_A',
 '1wpx_A',
 '3iho_A',
 '230l_A',
 '7d3j_A',
 '6vpx_P',
 '1pyh_A',
 '2y06_L',
 '1w72_C',
 '3o4o_A',
 '3zzi_A',
 '2q2g_A',
 '5z56_R',
 '1uij_A',
 '4hqx_A',
 '1jti_A',
 '6rqj_E',
 '4lrs_A',
 '4lbj_A',
 '1s4v_C',
 '2nat_A',
 '5ejy_A',
 '1izm_A',
 '3slp_A',
 '2a24_A',
 '3e1y_E',
 '6cme_A',
 '4uzl_A',
 '7kd3_A',
 '7oz4_A',
 '1nqk_A',
 '6zqs_B',
 '6ecs_A',
 '5gzt_A',
 '5xym_1',
 '6oon_A',
 '7am2_BT',
 '6krg_A',
 '5f1c_A',
 '6ni1_A',
 '2g02_A',
 '7nw1_CCC',
 '4nj9_H',
 '1zi1_A',
 '3qxz_A',
 '3i7f_A',
 '2gcz_A',
 '2z90_A',
 '4ui9_J',
 '5ma4_A',
 '2kre_A',
 '1woq_A',
 '4xnv_A',
 '3mtf_A',
 '1lhm_A',
 '2lls_A',
 '3pk0_A',
 '5trf_A',
 '6gjc_A',
 '1zpr_A',
 '2lmt_A',
 '1b9r_A',
 '5dz2_A',
 '4c3o_B',
 '3mxg_A',
 '5yfp_E',
 '6qzl_A',
 '2xu2_A',
 '4jbn_C',
 '3lca_Q',
 '2kk0_A',
 '4is4_A',
 '2n69_A',
 '1w44_A',
 '2hrb_A',
 '1rmr_A',
 '2nn6_I',
 '1hyq_A',
 '6d9y_A',
 '2ch4_A',
 '3gui_A',
 '4nei_A',
 '1vkp_A',
 '5yat_A',
 '4jx6_A',
 '5yre_B',
 '6u9u_L',
 '5un0_1',
 '2reg_A',
 '3rzv_A',
 '2ash_A',
 '1j9c_L',
 '6o8w_o',
 '7o8b_A',
 '2em1_A',
 '3f3k_A',
 '621p_A',
 '5vle_A',
 '3frt_A',
 '6sg9_FL',
 '3g9q_A',
 '1vjl_A',
 '3fhi_B',
 '7ase_V',
 '1kq7_A',
 '3g88_A',
 '6pxh_A',
 '5fuy_A',
 '6nn6_D',
 '4qp0_A',
 '2xix_A',
 '1lwf_A',
 '3i2e_A',
 '2bvm_A',
 '6uwz_A',
 '4irp_A',
 '5tdl_A',
 '4d4q_A',
 '3c6v_A',
 '3n3f_A',
 '6m31_A',
 '3m89_A',
 '1u04_A',
 '4ba9_A',
 '2b3b_A',
 '7kmh_B',
 '6bxa_C',
 '1py2_A',
 '4v68_BN',
 '6kdj_A',
 '6ywd_B',
 '1e1g_A',
 '1uh2_A',
 '1v13_A',
 '6wiz_A',
 '1jx0_A',
 '7d53_A',
 '1h8n_A',
 '5ir0_A',
 '5eyb_A',
 '3lo4_A',
 '1v4y_A',
 '4bj0_A',
 '6hum_J',
 '2jkr_P',
 '5tj5_P',
 '2gef_A',
 '5f5d_A',
 '2jwg_A',
 '2div_A',
 '4cnj_A',
 '5lwz_A',
 '4qb5_A',
 '1aip_C',
 '3vmq_A',
 '6tru_A',
 '3mbe_P',
 '1du1_A',
 '6cht_C',
 '6w16_L',
 '2h1b_A',
 '3plu_C',
 '6fnv_A',
 '6er7_A',
 '5w3j_B',
 '3px2_A',
 '2hxw_A',
 '6tmr_A',
 '2wqz_C',
 '4xl1_B',
 '4dag_H',
 '3ade_B',
 '4xue_A',
 '2mug_A',
 '5t5f_H',
 '6xy4_A',
 '4jhz_A',
 '5do6_A',
 '1pi2_A',
 '6ehm_C',
 '4qrr_E',
 '4le6_A',
 '6tgk_C',
 '6jho_A',
 '5vz5_A',
 '5ics_A',
 '4l1n_A',
 '6vov_A',
 '7jna_A',
 '5zqa_A',
 '3lcm_A',
 '1z63_A',
 '4w4k_B',
 '6iyo_A',
 '3eff_A',
 '4y7k_A',
 '1ax3_A',
 '4abm_A',
 '3inv_A',
 '5ku2_3',
 '4ddd_A',
 '1mdc_A',
 '1rzf_H',
 '6y32_A',
 '1s5h_C',
 '1pq0_A',
 '5wp3_A',
 '5cdf_A',
 '3toj_A',
 '6zj0_A',
 '2gat_A',
 '5prn_A',
 '7dvi_A',
 '5wrr_A',
 '1ngw_A',
 '6hiv_BE',
 '2cqv_A',
 '1ucp_A',
 '6dj3_A',
 '3gmf_A',
 '6qw6_5A',
 ...]

In [ ]:
import warnings
warnings.filterwarnings("ignore")

prot_name_lst = []
msa_ent_lst = []
esm_ent_lst = []
corr_lst = []
p_value_lst = []
for item in ali_lst:
    try:
        a3m_file = f'/home/liuyu/codes/ifold/my_works/testset/alignment_test/{item}/uniref90_hits.a3m'
        seq_msa = read_processed_sequences(a3m_file)
        msa_ent = calculate_msa_entropy(seq_msa)
        # print(msa_ent)
        esm_logit = get_logits(seq_msa[0], model, alphabet, batch_converter, device, format='array')
        esm_ent = calculate_esm_entropy(esm_logit.T)
        # print(esm_ent)
        corr, p_value = pearsonr(msa_ent, esm_ent)
        # print(corr)
        prot_name_lst.append(item)
        msa_ent_lst.append(msa_ent)
        esm_ent_lst.append(esm_ent)
        corr_lst.append(corr)
        p_value_lst.append(p_value)
    except:
        pass

In [22]:
res = pd.DataFrame({'prot_id':prot_name_lst, 'msa_entropy':msa_ent_lst, 'esm_entropy':esm_ent_lst, 'pearson_r':corr_lst, 'p_value':p_value_lst})
res

,prot_id,msa_entropy,esm_entropy,pearson_r,p_value
0,5eec_A,"[0.0, 0.537722259170694, 2.130368940614964, 3....","[0.9056432, 1.8913814, 3.2183812, 2.944435, 3....",0.456331,3.058298e-15
1,6v0v_A,"[0.9853665169344864, 0.011886566145789652, 1.9...","[0.3131475, 2.4706426, 1.4563936, 0.43207082, ...",-0.130439,2.716230e-04
2,5whq_A,"[0.0, 2.2359263506290326, 1.3605273114437082, ...","[0.24322398, 3.2649784, 1.509316, 1.6037657, 0...",0.606435,2.587472e-78
3,6khh_A,"[0.2920391072640456, 0.00854345017056622, 3.10...","[0.008397541, 0.0015327749, 1.0893201, 0.05473...",0.537745,1.044832e-15
4,3tg4_A,"[0.09140162014739274, 1.8119019864112724, 2.53...","[0.036959767, 2.5919728, 1.6678122, 1.2576972,...",0.435331,1.888823e-21
...,...,...,...,...,...
4804,3p99_A,"[0.0, 1.6534900296125528, 2.4685937569816416, ...","[1.7447037, 1.7684298, 1.0514115, 0.029275995,...",0.471970,1.652484e-26
4805,2f6b_A,"[0.0, 1.7858620215404153, 1.7564363637635219, ...","[1.5921417, 2.8477256, 2.767546, 1.9646392, 2....",0.445144,2.028807e-11
4806,1pjq_A,"[0.051402317293002264, 2.4462806823879477, 2.9...","[0.0009103721, 0.26597425, 1.3680799, 0.193920...",0.610368,5.432145e-48
4807,1ebg_A,"[0.0, 0.35123831041832787, 3.360250618578943, ...","[0.029140597, 1.2347147, 1.6438084, 0.49960944...",0.586729,1.108318e-41
4808,5fia_A,"[0.0, 0.0, 1.0, 0.35335933502142136, 0.5547781...","[0.22704378, 2.0069034, 2.552312, 2.078394, 3....",0.263065,8.671141e-08

In [23]:
df2 = pd.read_csv('/home/liuyu/codes/ifold/my_works/rmsd_compare_res.csv',usecols=['prot_id','prot_lenth','MSA_count'])
df2

      prot_id  prot_lenth  MSA_count
0     5fdu_1y          10          1
1      7arh_V          10          2
2      1lvb_C          10          1
3      5gic_C          10          1
4      3rwi_C          10          1
...       ...         ...        ...
3594   3cmu_A         304      17711
3595  6qw6_5A          27       4500
3596   6g2i_A         166      12114
3597   6rw8_A        1319      12306
3598   6gjc_A        1710      18809

[3599 rows x 3 columns]

In [24]:
df3 = pd.merge(df2,res).dropna()
df3

,prot_id,prot_lenth,MSA_count,msa_entropy,esm_entropy,pearson_r,p_value
22,1mdi_B,13,20,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.9182958340544896, ...","[1.5165472, 2.3614123, 2.842379, 2.2770755, 3....",-0.097147,7.522124e-01
26,1mvu_P,13,1,"[0.9798687566511528, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[2.4798949, 1.8946745, 2.0342958, 1.3810273, 1...",0.521566,6.754653e-02
37,5v21_B,15,420,"[0.0, 0.0, 0.39314106803181825, 0.082617092512...","[1.9311681, 2.7289474, 1.7434655, 2.4443135, 1...",0.094354,7.380212e-01
50,3plu_C,18,466,"[0.0, 0.0, 0.0, 1.117278648903896, 1.102382950...","[2.4115262, 1.0662894, 0.46427396, 0.7137516, ...",-0.025769,9.166011e-01
57,6zqs_B,14,57,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.7219280948873...","[2.41609, 1.8512884, 2.5281353, 2.6452045, 2.4...",0.298147,2.016804e-01
...,...,...,...,...,...,...,...
3594,3cmu_A,304,17711,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.811...","[1.9520988, 2.2837095, 3.6516654, 3.3118792, 0...",0.093066,2.439455e-05
3595,6qw6_5A,27,4500,"[0.8271595195340526, 2.140888035329084, 1.7690...","[0.16087885, 1.2384948, 1.3056793, 1.0283935, ...",0.073952,3.736236e-04
3596,6g2i_A,166,12114,"[0.0, 1.2357256642352388, 0.5242344512056485, ...","[1.6928067, 2.2653956, 2.6691034, 2.4984996, 1...",0.349298,2.772611e-68
3597,6rw8_A,1319,12306,"[0.0, 1.9532888733249165, 2.7397012717189235, ...","[3.0134244, 2.6460645, 2.175682, 2.6725206, 1....",0.336401,8.479259e-68
3598,6gjc_A,1710,18809,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.9158132, 3.4850082, 3.8642383, 3.8899322, 1...",0.441281,1.555989e-147

In [25]:
df4 = df3[(df3['prot_lenth']>50) & (df3['MSA_count']>1000)]
df4

,prot_id,prot_lenth,MSA_count,msa_entropy,esm_entropy,pearson_r,p_value
434,4v49_BF,52,1025,"[0.004604558453396438, 2.1313722582155985, 1.0...","[0.0070921807, 1.1334897, 0.16219354, 0.875433...",0.599165,2.693729e-06
435,1le8_A,53,1031,"[0.0, 1.4689955935892813, 2.57355111297219, 0....","[1.4378254, 1.5161511, 1.3347821, 0.95238936, ...",0.605589,1.552497e-06
437,1b2o_A,54,1043,"[0.14089074268693202, 2.7596801824407375, 2.31...","[0.0031979096, 0.26130733, 0.21698931, 0.14259...",0.571877,6.265527e-06
439,3esw_B,55,1050,"[0.0, 0.0, 0.8798196705627167, 0.1623261801753...","[2.0481043, 3.5872295, 0.91768605, 0.7643086, ...",0.265077,5.048213e-02
440,2ysa_A,55,1017,"[0.0, 2.4485148623399016, 2.494665468423249, 2...","[1.1628559, 0.3024863, 0.14397605, 0.59923226,...",0.195206,1.532297e-01
...,...,...,...,...,...,...,...
3593,7cu3_A,65,9582,"[0.0, 0.02341565053334974, 1.7140612787576388,...","[0.2502526, 1.5579014, 1.8002597, 0.7549762, 1...",0.490787,5.058310e-106
3594,3cmu_A,304,17711,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.811...","[1.9520988, 2.2837095, 3.6516654, 3.3118792, 0...",0.093066,2.439455e-05
3596,6g2i_A,166,12114,"[0.0, 1.2357256642352388, 0.5242344512056485, ...","[1.6928067, 2.2653956, 2.6691034, 2.4984996, 1...",0.349298,2.772611e-68
3597,6rw8_A,1319,12306,"[0.0, 1.9532888733249165, 2.7397012717189235, ...","[3.0134244, 2.6460645, 2.175682, 2.6725206, 1....",0.336401,8.479259e-68
3598,6gjc_A,1710,18809,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.9158132, 3.4850082, 3.8642383, 3.8899322, 1...",0.441281,1.555989e-147

In [27]:
import pickle
with open('msa_esm_ent.pickle', 'wb') as f:
    pickle.dump(df4, f)

In [28]:
with open('msa_esm_ent.pickle', 'rb') as f:
    data = pickle.load(f)
data

,prot_id,prot_lenth,MSA_count,msa_entropy,esm_entropy,pearson_r,p_value
434,4v49_BF,52,1025,"[0.004604558453396438, 2.1313722582155985, 1.0...","[0.0070921807, 1.1334897, 0.16219354, 0.875433...",0.599165,2.693729e-06
435,1le8_A,53,1031,"[0.0, 1.4689955935892813, 2.57355111297219, 0....","[1.4378254, 1.5161511, 1.3347821, 0.95238936, ...",0.605589,1.552497e-06
437,1b2o_A,54,1043,"[0.14089074268693202, 2.7596801824407375, 2.31...","[0.0031979096, 0.26130733, 0.21698931, 0.14259...",0.571877,6.265527e-06
439,3esw_B,55,1050,"[0.0, 0.0, 0.8798196705627167, 0.1623261801753...","[2.0481043, 3.5872295, 0.91768605, 0.7643086, ...",0.265077,5.048213e-02
440,2ysa_A,55,1017,"[0.0, 2.4485148623399016, 2.494665468423249, 2...","[1.1628559, 0.3024863, 0.14397605, 0.59923226,...",0.195206,1.532297e-01
...,...,...,...,...,...,...,...
3593,7cu3_A,65,9582,"[0.0, 0.02341565053334974, 1.7140612787576388,...","[0.2502526, 1.5579014, 1.8002597, 0.7549762, 1...",0.490787,5.058310e-106
3594,3cmu_A,304,17711,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.811...","[1.9520988, 2.2837095, 3.6516654, 3.3118792, 0...",0.093066,2.439455e-05
3596,6g2i_A,166,12114,"[0.0, 1.2357256642352388, 0.5242344512056485, ...","[1.6928067, 2.2653956, 2.6691034, 2.4984996, 1...",0.349298,2.772611e-68
3597,6rw8_A,1319,12306,"[0.0, 1.9532888733249165, 2.7397012717189235, ...","[3.0134244, 2.6460645, 2.175682, 2.6725206, 1....",0.336401,8.479259e-68
3598,6gjc_A,1710,18809,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.9158132, 3.4850082, 3.8642383, 3.8899322, 1...",0.441281,1.555989e-147

In [29]:
data_new = data.drop(['msa_entropy', 'esm_entropy'], axis=1)
data_new

      prot_id  prot_lenth  MSA_count  pearson_r        p_value
434   4v49_BF          52       1025   0.599165   2.693729e-06
435    1le8_A          53       1031   0.605589   1.552497e-06
437    1b2o_A          54       1043   0.571877   6.265527e-06
439    3esw_B          55       1050   0.265077   5.048213e-02
440    2ysa_A          55       1017   0.195206   1.532297e-01
...       ...         ...        ...        ...            ...
3593   7cu3_A          65       9582   0.490787  5.058310e-106
3594   3cmu_A         304      17711   0.093066   2.439455e-05
3596   6g2i_A         166      12114   0.349298   2.772611e-68
3597   6rw8_A        1319      12306   0.336401   8.479259e-68
3598   6gjc_A        1710      18809   0.441281  1.555989e-147

[2818 rows x 5 columns]

In [30]:
data_new.to_csv('msa_esm_ent_noarray.csv', index=False)

In [33]:
from scipy.stats import pearsonr
total_corr, total_p_value = pearsonr(np.concatenate(tuple(data['msa_entropy'])), np.concatenate(tuple(data['esm_entropy'])))
print('Total pearsonR: ', total_corr, total_p_value, len(np.concatenate(tuple(data['msa_entropy']))))

Total pearsonR:  0.37619867851975686 0.0 877683

In [15]:
total_corr, total_p_value = pearsonr(np.concatenate(tuple(msa_ent_lst)), np.concatenate(tuple(esm_ent_lst)))
print('Total pearsonR: ', total_corr)

Total pearsonR:  0.25088975584863205

In [8]:
res.to_csv('msa_esm_entropy.csv',index=False)

In [10]:
prot_len = [len(item) for item in msa_ent_lst]
prot_len

[269,
 775,
 768,
 191,
 433,
 196,
 306,
 446,
 467,
 64,
 216,
 391,
 100,
 328,
 368,
 74,
 177,
 165,
 289,
 340,
 203,
 111,
 204,
 776,
 122,
 350,
 173,
 280,
 216,
 756,
 446,
 380,
 260,
 336,
 162,
 247,
 22,
 370,
 351,
 22,
 333,
 163,
 355,
 136,
 226,
 236,
 72,
 490,
 63,
 135,
 223,
 66,
 294,
 328,
 11,
 33,
 307,
 103,
 220,
 251,
 113,
 267,
 9,
 271,
 152,
 1335,
 217,
 312,
 728,
 33,
 235,
 129,
 226,
 367,
 213,
 311,
 90,
 311,
 136,
 397,
 401,
 73,
 379,
 475,
 1178,
 250,
 166,
 244,
 678,
 76,
 821,
 221,
 65,
 182,
 291,
 335,
 138,
 339,
 271,
 258,
 550,
 139,
 381,
 329,
 165,
 309,
 122,
 558,
 149,
 367,
 59,
 391,
 402,
 485,
 20,
 47,
 221,
 265,
 587,
 409,
 760,
 70,
 81,
 76,
 5,
 124,
 266,
 100,
 274,
 4,
 169,
 144,
 139,
 513,
 208,
 46,
 146,
 199,
 95,
 43,
 230,
 167,
 434,
 66,
 316,
 180,
 235,
 165,
 230,
 353,
 211,
 48,
 237,
 404,
 113,
 385,
 5,
 253,
 200,
 135,
 118,
 500,
 255,
 161,
 332,
 971,
 13,
 266,
 478,
 501,
 850,
 562,
 124,
 247,
 5,
 411,
 137,
 319,
 568,
 221,
 129,
 442,
 228,
 237,
 61,
 171,
 8,
 675,
 91,
 922,
 436,
 1391,
 204,
 337,
 294,
 157,
 3,
 56,
 669,
 358,
 14,
 340,
 180,
 187,
 553,
 718,
 121,
 71,
 186,
 480,
 267,
 258,
 221,
 108,
 527,
 168,
 316,
 198,
 325,
 95,
 40,
 104,
 58,
 298,
 264,
 366,
 7,
 165,
 140,
 241,
 293,
 73,
 831,
 378,
 21,
 321,
 1285,
 317,
 305,
 209,
 298,
 479,
 27,
 382,
 220,
 208,
 32,
 247,
 249,
 313,
 155,
 176,
 414,
 345,
 151,
 314,
 254,
 147,
 359,
 343,
 330,
 187,
 335,
 75,
 269,
 136,
 127,
 117,
 251,
 1232,
 289,
 6,
 107,
 328,
 251,
 112,
 26,
 164,
 384,
 29,
 160,
 286,
 17,
 134,
 576,
 1021,
 339,
 30,
 119,
 474,
 162,
 219,
 34,
 336,
 380,
 237,
 137,
 252,
 425,
 334,
 190,
 298,
 238,
 259,
 92,
 190,
 114,
 229,
 109,
 448,
 355,
 190,
 148,
 29,
 263,
 122,
 217,
 330,
 337,
 124,
 342,
 68,
 79,
 5,
 230,
 215,
 31,
 64,
 16,
 233,
 212,
 520,
 55,
 124,
 173,
 235,
 158,
 383,
 259,
 281,
 335,
 217,
 24,
 129,
 292,
 217,
 151,
 388,
 16,
 385,
 144,
 209,
 386,
 11,
 450,
 144,
 254,
 420,
 127,
 310,
 100,
 334,
 148,
 115,
 324,
 9,
 191,
 206,
 3,
 332,
 101,
 200,
 144,
 271,
 141,
 297,
 292,
 158,
 550,
 90,
 85,
 156,
 217,
 211,
 124,
 220,
 335,
 97,
 64,
 424,
 288,
 215,
 1023,
 31,
 212,
 70,
 297,
 124,
 116,
 300,
 223,
 17,
 566,
 263,
 61,
 360,
 134,
 377,
 420,
 387,
 217,
 48,
 321,
 245,
 473,
 655,
 29,
 1455,
 222,
 196,
 158,
 267,
 110,
 340,
 61,
 128,
 216,
 159,
 329,
 85,
 435,
 112,
 222,
 6,
 177,
 216,
 886,
 163,
 374,
 85,
 115,
 9,
 9,
 328,
 192,
 316,
 640,
 10,
 87,
 933,
 361,
 121,
 323,
 460,
 143,
 215,
 170,
 267,
 119,
 421,
 218,
 462,
 404,
 7,
 33,
 338,
 106,
 428,
 144,
 133,
 109,
 170,
 214,
 128,
 218,
 85,
 216,
 87,
 184,
 287,
 827,
 20,
 160,
 436,
 69,
 98,
 252,
 197,
 361,
 434,
 392,
 23,
 279,
 75,
 184,
 130,
 7,
 671,
 115,
 237,
 118,
 306,
 9,
 126,
 637,
 13,
 267,
 165,
 128,
 445,
 31,
 95,
 14,
 125,
 357,
 491,
 36,
 301,
 19,
 349,
 452,
 220,
 117,
 164,
 92,
 189,
 259,
 302,
 195,
 20,
 558,
 281,
 119,
 10,
 17,
 178,
 298,
 251,
 685,
 231,
 53,
 124,
 489,
 160,
 265,
 148,
 190,
 85,
 8,
 125,
 119,
 535,
 594,
 439,
 331,
 397,
 336,
 189,
 337,
 392,
 606,
 249,
 137,
 374,
 184,
 55,
 152,
 297,
 103,
 245,
 375,
 15,
 439,
 190,
 418,
 94,
 24,
 221,
 352,
 241,
 191,
 107,
 227,
 413,
 121,
 225,
 594,
 16,
 149,
 118,
 177,
 150,
 153,
 334,
 229,
 359,
 50,
 311,
 455,
 542,
 96,
 358,
 110,
 293,
 906,
 169,
 158,
 114,
 360,
 248,
 164,
 293,
 133,
 510,
 349,
 295,
 217,
 259,
 201,
 305,
 422,
 998,
 184,
 455,
 299,
 93,
 130,
 227,
 190,
 167,
 285,
 543,
 276,
 68,
 316,
 246,
 465,
 104,
 553,
 216,
 119,
 132,
 97,
 177,
 153,
 9,
 343,
 97,
 217,
 241,
 302,
 281,
 197,
 346,
 304,
 385,
 247,
 174,
 483,
 1275,
 161,
 249,
 654,
 380,
 110,
 215,
 220,
 138,
 303,
 513,
 110,
 568,
 541,
 456,
 244,
 156,
 252,
 422,
 211,
 7,
 268,
 171,
 117,
 220,
 10,
 131,
 325,
 229,
 122,
 739,
 266,
 432,
 305,
 126,
 513,
 70,
 219,
 387,
 482,
 347,
 655,
 205,
 12,
 240,
 23,
 197,
 390,
 33,
 9,
 325,
 141,
 321,
 420,
 79,
 179,
 345,
 19,
 284,
 10,
 587,
 98,
 554,
 231,
 212,
 29,
 176,
 256,
 297,
 140,
 445,
 153,
 359,
 205,
 153,
 104,
 84,
 327,
 123,
 62,
 117,
 269,
 139,
 5,
 770,
 137,
 185,
 222,
 95,
 84,
 237,
 558,
 400,
 302,
 447,
 352,
 86,
 144,
 99,
 550,
 17,
 721,
 567,
 16,
 361,
 316,
 356,
 298,
 213,
 218,
 10,
 22,
 220,
 3249,
 354,
 480,
 216,
 271,
 115,
 493,
 178,
 421,
 138,
 164,
 1101,
 134,
 281,
 211,
 9,
 158,
 464,
 180,
 540,
 416,
 102,
 385,
 112,
 355,
 138,
 4,
 28,
 500,
 184,
 229,
 107,
 204,
 169,
 386,
 114,
 339,
 381,
 20,
 149,
 108,
 54,
 863,
 464,
 241,
 358,
 275,
 409,
 16,
 229,
 293,
 265,
 548,
 18,
 161,
 620,
 298,
 100,
 267,
 421,
 301,
 130,
 93,
 262,
 109,
 3092,
 264,
 148,
 105,
 338,
 279,
 70,
 871,
 126,
 252,
 4,
 12,
 145,
 378,
 56,
 331,
 274,
 64,
 209,
 263,
 258,
 320,
 164,
 736,
 383,
 350,
 632,
 142,
 214,
 251,
 298,
 211,
 381,
 95,
 88,
 290,
 44,
 265,
 166,
 263,
 218,
 353,
 279,
 164,
 154,
 109,
 467,
 249,
 342,
 183,
 124,
 359,
 301,
 560,
 308,
 542,
 437,
 251,
 531,
 335,
 161,
 54,
 283,
 427,
 771,
 114,
 400,
 212,
 209,
 132,
 139,
 557,
 221,
 104,
 637,
 134,
 327,
 222,
 250,
 252,
 161,
 362,
 30,
 496,
 176,
 168,
 11,
 297,
 217,
 211,
 46,
 99,
 391,
 401,
 148,
 196,
 263,
 347,
 18,
 20,
 20,
 214,
 143,
 19,
 140,
 120,
 457,
 262,
 237,
 471,
 179,
 230,
 220,
 14,
 215,
 22,
 212,
 150,
 603,
 57,
 63,
 251,
 241,
 324,
 105,
 208,
 280,
 274,
 206,
 281,
 350,
 276,
 196,
 500,
 174,
 463,
 215,
 275,
 162,
 79,
 521,
 230,
 327,
 132,
 235,
 304,
 124,
 196,
 368,
 511,
 213,
 167,
 66,
 289,
 151,
 438,
 213,
 449,
 114,
 91,
 199,
 205,
 2311,
 ...]

In [12]:
res_noarray = pd.DataFrame({'prot_id':prot_name_lst, 'prot_lenth':prot_len, 'pearson_r':corr_lst, 'p_value':p_value_lst})
res_noarray

     prot_id  prot_lenth  pearson_r       p_value
0     5eec_A         269   0.456331  3.058298e-15
1     6v0v_A         775  -0.130439  2.716230e-04
2     5whq_A         768   0.606435  2.587472e-78
3     6khh_A         191   0.537745  1.044832e-15
4     3tg4_A         433   0.435331  1.888823e-21
...      ...         ...        ...           ...
4804  3p99_A         453   0.471970  1.652484e-26
4805  2f6b_A         206   0.445144  2.028807e-11
4806  1pjq_A         457   0.610368  5.432145e-48
4807  1ebg_A         436   0.586729  1.108318e-41
4808  5fia_A         402   0.263065  8.671141e-08

[4809 rows x 4 columns]

In [13]:
res_noarray.to_csv('msa_esm_entropy_noarray.csv',index=False)

## analize

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('msa_esm_entropy.csv')
df1

,prot_id,msa_entropy,esm_entropy,pearson_r,p_value
0,5eec_A,[0. 0.53772226 2.13036894 3.35130217 2...,[9.0564322e-01 1.8913814e+00 3.2183812e+00 2.9...,0.456331,3.058298e-15
1,6v0v_A,[0.98536652 0.01188657 1.98049885 1.57532527 1...,[3.13147485e-01 2.47064257e+00 1.45639360e+00 ...,-0.130439,2.716230e-04
2,5whq_A,[0.00000000e+00 2.23592635e+00 1.36052731e+00 ...,[2.43223980e-01 3.26497841e+00 1.50931597e+00 ...,0.606435,2.587472e-78
3,6khh_A,[2.92039107e-01 8.54345017e-03 3.10317401e+00 ...,[8.39754101e-03 1.53277488e-03 1.08932006e+00 ...,0.537745,1.044832e-15
4,3tg4_A,[0.09140162 1.81190199 2.53601814 1.9275623 1...,[3.69597673e-02 2.59197283e+00 1.66781223e+00 ...,0.435331,1.888823e-21
...,...,...,...,...,...
4804,3p99_A,[0. 1.65349003 2.46859376 0.3862838 0...,[1.74470365e+00 1.76842976e+00 1.05141151e+00 ...,0.471970,1.652484e-26
4805,2f6b_A,[0. 1.78586202 1.75643636 1.16421814 2...,[1.59214175e+00 2.84772563e+00 2.76754594e+00 ...,0.445144,2.028807e-11
4806,1pjq_A,[0.05140232 2.44628068 2.90355678 1.38316541 0...,[9.10372124e-04 2.65974253e-01 1.36807990e+00 ...,0.610368,5.432145e-48
4807,1ebg_A,[0. 0.35123831 3.36025062 3.09623727 1...,[2.91405972e-02 1.23471475e+00 1.64380836e+00 ...,0.586729,1.108318e-41
4808,5fia_A,[0. 0. 1. 0.35335934 0...,[0.22704378 2.0069034 2.552312 2.078394 3...,0.263065,8.671141e-08

In [3]:
df2 = pd.read_csv('/home/liuyu/codes/ifold/my_works/rmsd_compare_res.csv',usecols=['prot_id','prot_lenth','MSA_count'])
df2

      prot_id  prot_lenth  MSA_count
0     5fdu_1y          10          1
1      7arh_V          10          2
2      1lvb_C          10          1
3      5gic_C          10          1
4      3rwi_C          10          1
...       ...         ...        ...
3594   3cmu_A         304      17711
3595  6qw6_5A          27       4500
3596   6g2i_A         166      12114
3597   6rw8_A        1319      12306
3598   6gjc_A        1710      18809

[3599 rows x 3 columns]

In [4]:
df3 = pd.merge(df2,df1).dropna()
df3

,prot_id,prot_lenth,MSA_count,msa_entropy,esm_entropy,pearson_r,p_value
22,1mdi_B,13,20,[0. 0. 0. 0. 0...,[1.5165472 2.3614123 2.842379 2.2770755 3.461...,-0.097147,7.522124e-01
26,1mvu_P,13,1,[0.97986876 0. 0. 0. 0...,[2.4798949 1.8946745 2.0342958 1.3810273 1.188...,0.521566,6.754653e-02
37,5v21_B,15,420,[0. 0. 0.39314107 0.08261709 0...,[1.9311681 2.7289474 1.7434655 2.4443135 1.956...,0.094354,7.380212e-01
50,3plu_C,18,466,[0. 0. 0. 1.11727865 1...,[2.4115262 1.0662894 0.46427396 0.7137516 0...,-0.025769,9.166011e-01
57,6zqs_B,14,57,[0. 0. 0. 0. 0...,[2.41609 1.8512884 2.5281353 2.6452045 2.470...,0.298147,2.016804e-01
...,...,...,...,...,...,...,...
3594,3cmu_A,304,17711,[0. 0. 0. ... 0. 0. 0.],[1.9520988 2.2837095 3.6516654 ... 0.004921...,0.093066,2.439455e-05
3595,6qw6_5A,27,4500,[0.82715952 2.14088804 1.76902941 ... 3.264778...,[0.16087885 1.2384948 1.3056793 ... 1.555124...,0.073952,3.736236e-04
3596,6g2i_A,166,12114,[0. 1.23572566 0.52423445 ... 1.930084...,[1.6928067 2.2653956 2.6691034 ... 2.542458 1...,0.349298,2.772611e-68
3597,6rw8_A,1319,12306,[0. 1.95328887 2.73970127 ... 1.321114...,[3.0134244 2.6460645 2.175682 ... 2.1114886 1...,0.336401,8.479259e-68
3598,6gjc_A,1710,18809,[0. 0. 0. ... 2.137552...,[1.9158132 3.4850082 3.8642383 ... 1.7020799 3...,0.441281,1.555989e-147

In [5]:
df4 = df3[(df3['prot_lenth']>50) & (df3['MSA_count']>1000)]
df4

,prot_id,prot_lenth,MSA_count,msa_entropy,esm_entropy,pearson_r,p_value
434,4v49_BF,52,1025,[0.00460456 2.13137226 1.02543201 0.65915615 0...,[0.00709218 1.1334897 0.16219354 0.8754334 0...,0.599165,2.693729e-06
435,1le8_A,53,1031,[0. 1.46899559 2.57355111 0.96351611 0...,[1.4378254 1.5161511 1.3347821 0.95238936 0...,0.605589,1.552497e-06
437,1b2o_A,54,1043,[0.14089074 2.75968018 2.31236514 1.56122529 3...,[3.1979096e-03 2.6130733e-01 2.1698931e-01 1.4...,0.571877,6.265527e-06
439,3esw_B,55,1050,[0. 0. 0.87981967 0.16232618 0...,[2.0481043 3.5872295 0.91768605 0.7643086 1...,0.265077,5.048213e-02
440,2ysa_A,55,1017,[0. 2.44851486 2.49466547 2.3664909 3...,[1.1628559 0.3024863 0.14397605 0.59923226 0...,0.195206,1.532297e-01
...,...,...,...,...,...,...,...
3593,7cu3_A,65,9582,[0. 0.02341565 1.71406128 ... 0.970647...,[0.2502526 1.5579014 1.8002597 ... 1.9835308 1...,0.490787,5.058310e-106
3594,3cmu_A,304,17711,[0. 0. 0. ... 0. 0. 0.],[1.9520988 2.2837095 3.6516654 ... 0.004921...,0.093066,2.439455e-05
3596,6g2i_A,166,12114,[0. 1.23572566 0.52423445 ... 1.930084...,[1.6928067 2.2653956 2.6691034 ... 2.542458 1...,0.349298,2.772611e-68
3597,6rw8_A,1319,12306,[0. 1.95328887 2.73970127 ... 1.321114...,[3.0134244 2.6460645 2.175682 ... 2.1114886 1...,0.336401,8.479259e-68
3598,6gjc_A,1710,18809,[0. 0. 0. ... 2.137552...,[1.9158132 3.4850082 3.8642383 ... 1.7020799 3...,0.441281,1.555989e-147